.formBox
{
    /*background-color: rgb(159,75,44);/*Sienna ( similar ) Color | 9f4b2c https://icolorpalette.com/color?q=9f4b2c*//*rgb(133, 129, 129);*/
    /*background-image: linear-gradient(rgb(192,98,76), rgb(121,57,33));*/
    background-image: linear-gradient(rgb(192,98,76), rgb(83,39,22));
    margin: auto;
    width: 30%;
    height: 50%;
    border-radius: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border-style: inset;
    border-style: outset;
    border-style: ridge;*/
    border-style: groove;
    box-shadow: 21px 34px 55px black;
}