.scenario {
    height: 75vh;
    width: 75vw;
    background-repeat: no-repeat;
    background-size:cover;
    margin: auto;
    margin-top: 0;
    border: 10px orange solid;
    overflow-y:auto;
    max-height: fit-content;
}
.descBox {
    font-family: caveman3;
    font-size: xx-small;
    position: relative;
    top: 40%;
    /* width: 35%; */
    /* margin-bottom: 0; */
    width:fit-content;
    /* float: right; */
    background-color: rgba(210, 122, 59, 0.6);
    padding: 2%;
    border-radius: 18%;
    line-height: 3;
}
.scenarioDescription {
    background-color: blue;
    color: red;
    /* line-height: 1.5; */
}
.buttonGroup {
    position: relative;
    top: 45%;
    margin-inline: auto;
}
.buttonGroup button {
    font-family: caveman3;
    margin-inline: 2%;
    padding: 2%;
    border-radius: 18%;
    background-color: bisque;
}
.buttonGroup button:active {
    background-color: greenyellow;
}