.win{
    color: black;
    font-family: caveman3;
    text-shadow: 5px 8px 13px #000000;
    width:100%;
    
    -webkit-text-stroke: 1px white;
}

.featureArea{
    height: 200px;
    padding-top: 35%;
    padding-bottom: 30%;
}

.play-again-button {
    font-family: caveman5;
    font-size:x-large;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    border-width: 1px;
    border-radius: 12%;
}

h1 {
    font-family: caveman3;
    font-size: small;
    text-align: center;
    text-shadow: 5px 8px 13px #000000;
    -webkit-text-stroke: 1px white;
}