@font-face {
  font-family: caveman1;
  src: url(../Assets/Fonts/caveman_regular.ttf);
}
@font-face {
  font-family: caveman2;
  src: url(../Assets/Fonts/JazzyCaveman.ttf);
}
@font-face {
  font-family: caveman3;
  src: url(../Assets/Fonts/Prehistoric_Caveman.ttf);
}
@font-face {
  font-family: caveman4;
  src: url(../Assets/Fonts/ArtGreco-WyPE.ttf);
}
@font-face {
  font-family: caveman5;
  src: url(../Assets/Fonts/Carson-51mjj.ttf);
}
@font-face {
  font-family: caveman6;
  src: url(../Assets/Fonts/D3Stonism-GOdm.ttf);
}
@font-face {
  font-family: caveman7;
  src: url(../Assets/Fonts/Lookmumnocomputer-GOlaG.otf);
}
@font-face {
  font-family: caveman8;
  src: url(../Assets/Fonts/Vimland-9YmW2.otf);
}
@font-face {
  font-family: caveman9;
  src: url(../Assets/Fonts/flintstone.ttf);
}

.login-signup-card-header {
    font-family: caveman3;
    text-align: center;
    text-shadow: 5px 8px 13px #000000;
    -webkit-text-stroke: 1px white;
}

.login-signup-form-input {
    font-family: caveman6;
    width: 200px;
}

.login-signup-submit-button, .login-signup-success {
    font-family: caveman4;
    font-size: large;
    width: 46%;
    margin-left: 26%;
    margin-right: 26%;
}

.login-signup-success {
  color: white;
}