@font-face {
  font-family: caveman1;
  src: url(../Assets/Fonts/caveman_regular.ttf);
}
@font-face {
  font-family: caveman2;
  src: url(../Assets/Fonts/JazzyCaveman.ttf);
}
@font-face {
  font-family: caveman3;
  src: url(../Assets/Fonts/Prehistoric_Caveman.ttf);
}

.card-header {
  font-family: caveman3;
}

.form-input {
  font-family: caveman2;
  width: 200px;
}

.submit-button {
  font-family: caveman1;
}

.login-signup{
  color: black;
  font-family: caveman3;
  text-shadow: 5px 8px 13px #000000;
  width:100%;

}